.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.overview {
  grid-area: 1 / 1 / 2 / 3;
}
.commits {
  grid-area: 2 / 1 / 4 / 2;
}
.changelog {
  grid-area: 2 / 2 / 4 / 3;
}
