.timeline {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.item {
  display: flex;
  gap: 0.5rem;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.dot {
  color: var(--neutral-border-hover);
}

.line {
  flex: 1;
  display: block;
  min-height: 2.5rem;
  border-left: 1px dashed var(--neutral-border-hover);
  box-sizing: content-box;
}

.head .dot {
  color: var(--accent-solid);
}

.head .content {
  color: var(--accent-solid-hover);
}

.head .line {
  min-height: 1rem;
}

.content {
  padding-bottom: 1rem;
}

.description {
  font-size: var(--font-size-sm);
  margin-top: 0.5rem;
}

.heading {
  display: flex;
  gap: 0.5rem;
}

.author {
  color: var(--neutral-text);
}

.title {
  color: var(--neutral-text-contrast);
}

.author:hover {
  color: var(--neutral-text-contrast);
}

.sha {
  color: var(--accent-text);
  text-decoration: none;
}

.sha:hover {
  color: var(--accent-text-contrast);
}

.md {
  color: var(--neutral-text);
  line-height: 1.6;
  font-size: var(--font-size);
}

.md h3,
.md h4 {
  color: var(--neutral-text-contrast);
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

.md h3 {
  font-size: var(--font-size-lg);
}

.md h4 {
  font-size: var(--font-size);
}

.md a {
  color: var(--accent-text);
  text-decoration: none;
}

.md a:hover {
  color: var(--accent-text-contrast);
}

.md ul {
  margin-left: 2rem;
}

.md li {
  list-style: circle;
}

.container {
  display: flex;
  gap: 1rem;
}

.container > * {
  flex: 1;
}

/* Overview */

.overview {
  display: flex;
}

.info {
  display: flex;
  flex: 1;
gap: 0.5rem;
flex-direction: column;
}

.filter {
  display: flex;
gap: 0.5rem;
}


.links {
  display: flex;
}