.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25rem;
}

.updated {
  color: var(--neutral-solid);
}


.date {
  font-size: var(--font-size-sm);
  display: inline-block;
  margin-left: 0.25rem;
}