.header {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  text-decoration: none;
  color: var(--neutral-text-contrast);
  font-weight: 500;
  font-size: 18px;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}