.content {
  font-size: var(--font-size);

  /* "pb-4 pt-0" */
  /* "overflow-hidden text-sm data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down" */
}

.item {
  /* bordrb */
  background-color: var(--neutral-bg);
  margin-bottom: 0.75rem;
  border-radius: var(--border-radius);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trigger {
  all: unset;
  cursor: pointer;
  color: var(--neutral-text-contrast);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size);
}
