.badge {
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 0.25rem;
  font-size: var(--font-size-sm);
  background: var(--neutral-bg-subtle);
  color: var(--neutral-solid-hover);
}
