.base {
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid;
  padding: 0.25rem;
  font-size: var(--font-size-sm);
  gap: 0.25rem;
}

.default {
  border-color: var(--border-color);
  background: var(--neutral-bg-subtle);
  color: var(--neutral-solid-hover);
}

.danger {
  border-color: var(--danger-border);
  background: var(--danger-bg-subtle);
  color: var(--danger-solid-hover);
}

.success {
  border-color: var(--success-border);
  background: var(--success-bg-subtle);
  color: var(--success-solid-hover);
}
