.base {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}

.base:focus-visible {
  outline-color: var(--button-color-outline);
  outline-width: 2px;
}

.base:disabled {
  pointer-events: none;
  opacity: 50%;
}

.default-size {
  height: 2rem;
  padding: 0.5rem 1rem;
}

.icon-size {
  height: 2rem;
  width: 2rem;
}

.primary {
  background-color: var(--button-color-background-primary);
  color: var(--button-color-foreground-primary);
}

.primary:hover {
  background-color: var(--button-color-background-primary-hover);
}

.secondary {
  background-color: var(--button-color-background-secondary);
  color: var(--button-color-foreground-secondary);
}

.secondary:hover {
  background-color: var(--button-color-background-secondary-hover);
  color: var(--button-color-foreground-secondary-hover);
}

.ghost:hover {
  background-color: var(--button-color-background-secondary-hover);
  color: var(--button-color-foreground-secondary-hover);
}

/* default: "",
secondary:
ghost: "hover:bg-accent hover:text-accent-foreground", */
