.content {
  z-index: 10;
  min-width: 8rem;
  overflow: hidden;

  border: 1px solid var(--popover-border-color);
  border-radius: var(--popover-border-radius);

  background-color: var(--popover-color-background);
  color: var(--popover-color-foreground);
  font-size: var(--popover-font-size);
}

.radio-item {
  position: relative;
  cursor: default;
  display: flex;
  user-select: none;
  align-items: center;
  border-radius: var(--popover-border-radius);
  padding: 0.5rem;
  padding-left: 1.5rem;
  outline: none;
}

.radio-item:focus {
  background-color: var(--popover-item-hover-background-color);
  color: var(--popover-item-hover-foreground-color);
}

.radio-item[data-disabled] {
  pointer-events: none;
  opacity: 50%;
}

.label {
  padding: 0.5rem;
  font-weight: var(--popover-label-font-weight);
}

.separator {
  background-color: var(--popover-separator-line-color);
  height: 1px;
}

.dot {
  position: absolute;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* absolute left-2 flex h-3.5 w-3.5 items-center justify-center */
}
