@import "./palette.css";

:root {
  --neutral-base: var(--slate-1);
  --neutral-bg-subtle: var(--slate-2);
  --neutral-bg: var(--slate-3);
  --neutral-bg-hover: var(--slate-4);
  --neutral-bg-active: var(--slate-5);
  --neutral-line: var(--slate-6);
  --neutral-border: var(--slate-7);
  --neutral-border-hover: var(--slate-8);
  --neutral-solid: var(--slate-9);
  --neutral-solid-hover: var(--slate-10);
  --neutral-text: var(--slate-11);
  --neutral-text-contrast: var(--slate-12);

  --accent-base: var(--cyan-1);
  --accent-bg-subtle: var(--cyan-2);
  --accent-bg: var(--cyan-3);
  --accent-bg-hover: var(--cyan-4);
  --accent-bg-active: var(--cyan-5);
  --accent-line: var(--cyan-6);
  --accent-border: var(--cyan-7);
  --accent-border-hover: var(--cyan-8);
  --accent-solid: var(--cyan-9);
  --accent-solid-hover: var(--cyan-10);
  --accent-text: var(--cyan-11);
  --accent-text-contrast: var(--cyan-12);

  --danger-solid: var(--red-9);
  --danger-border: var(--red-7);
  --danger-bg-subtle: var(--red-2);
  --danger-solid-hover: var(--red-10);

  --success-solid: var(--green-9);
  --success-border: var(--green-7);
  --success-bg-subtle: var(--green-2);
  --success-solid-hover: var(--green-10);

  --warning-solid: var(--yellow-9);
  --info-solid: var(--blue-9);
}

:root {
  --color-background: var(--neutral-base);
  --color-foreground: var(--neutral-text);
  --font-size: 14px;
  --font-size-sm: 12px;
  --font-size-lg: 15px;
  --font-weight: 400;
  --font-weight-medium: 600;

  --border-color: var(--neutral-border);
  --border-radius: 4px;

  /* Popover tokens */
  --popover-border-color: var(--border-color);
  --popover-border-radius: var(--border-radius);
  --popover-color-background: var(--neutral-bg-subtle);
  --popover-color-foreground: var(--neutral-text);
  --popover-font-size: var(--font-size-sm);
  --popover-item-hover-background-color: var(--neutral-bg-hover);
  --popover-item-hover-foreground-color: var(--neutral-text-contrast);
  --popover-separator-line-color: var(--neutral-border);
  --popover-label-font-weight: var(--font-weight-medium);

  /* Button tokens */
  --button-border-radius: var(--border-radius);
  --button-font-size: var(--font-size-sm);
  --button-font-weight: var(--font-weight);
  --button-color-outline: var(--accent-solid);

  --button-color-background-primary: var(--accent-solid);
  --button-color-foreground-primary: var(--neutral-text-contrast);
  --button-color-background-primary-hover: var(--accent-solid-hover);

  --button-color-background-secondary: var(--neutral-bg);
  --button-color-foreground-secondary: var(--neutral-text);
  --button-color-foreground-secondary-hover: var(--neutral-text-contrast);
  --button-color-background-secondary-hover: var(--neutral-bg-hover);

  --button-color-foreground-link: var(--accent-text);
  --button-color-foreground-link-hover: var(--accent-text-contrast);
  --button-color-background-link: var(--neutral-bg);
  --button-color-background-link-hover: var(--neutral-bg-hover);
}
